html, body{
    height: 100%;
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif, arial, verdana, 'Times New Roman';
    line-height: 1.5;
    background-color: white;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}


.header_container .dropdown_item
    {
        background-color: white;
        display: none;
        position: absolute;
        right: 2px;
        top: 45px;
        flex-direction: column;
        width: 200px;
        padding: 0 20px;
    }

    .header_container  .hamburger
    {
        display: hidden;
    }

     .header_container
     {
      padding: 4px 40px;
      position: sticky;
      top: 0;
      display: flex;
      z-index: 2;
      background-color: white;
     }

     .header_container img
     {
      width: 68px;
      opacity: 3;
     }
      
     .header_container img:hover
     {
        opacity: 3;
        transition: 0.5s ease;
        
       }

     .header_container ul
     {
         list-style: none;
         display: flex;
         margin-left: auto;
     }

     .header_container ul li
     {
         padding: 0px 18px;
         font-weight: 600;
         font-size: 18px;
     }

     .header_container ul li a
     {
        text-decoration: none;
        color: gray;
     }

    
     .header_container ul li a:hover
     {
        color: #307AD0;
        transition: ease;
     }

     .home_navbar_color
     {
        color: #307AD0;
     }

     /* Header 2 Styling For Courses Page */
     .header2_title
     {
        background-color: #307AD0;
        color: white;
        margin-top: -22px;
        position: sticky;
     }

     .h3
     {
        margin-left: 40px;
        padding: 6px;
     }

     .button_container
     {
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        text-align: center;
        position: sticky;
     }

     .Courses_buttons
     {
        margin: 0px 20px;
        border-radius: 26px;
        padding: 7px 2%;
        font-size: 16px;
        font-weight: 550;
        color: grey;
        border-color: grey;
        position: sticky;
     }
     
     .all
     {
        color: white;
        background-color: #307AD0;
     }
     /* slider area */

     .slider img
     {
        opacity: 1;
     }

      /* Archievment Styling */
      .Archievment_info 
      {
          display: flex;
          margin-right: 13%;
          margin-left: 13%; 
          flex-basis: 300px;
      }
  
      .Archievment_items
      {
           width: 300px;
           height: 65px;
           background-color: #307AD0;
           box-shadow: 0px 0px 0.999px black;
           margin: 0px 45px;
           overflow: hidden;
           padding: 30px;
           display: flex;  
           border-radius: 30px;
           color: white;
      }
      
      .item_text
      {
        margin-bottom: 100px;
      }

      /* Courses Styling */
      .Courses
      {
          margin-left: 15%;
          margin-right: 15%;
      }

      .Courses_info 
      {
          padding: 10px;
          text-align: center;
          display: flex;
          margin-right: 5%;
          margin-left: 5%; 
          flex-basis: 300px;
          text-decoration: none;
      }

      .Courses_info a:link {
        text-decoration: none;
      }

      .Courses_info a:visited {
        text-decoration: none;
      }
      
  
      .Courses_item1
      {
           min-width: 200px;
           max-width: 300px;
           height: 90px;
           background-color: #307AD0;
           border-color: rgb(93, 93, 93);
           border: 4px solid;
           border-style: solid;
           margin: 0px 25px;
           overflow: hidden;
           padding: 40px; 
           border-radius: 30px;
           color: gray;

      }

      .Courses_item1:hover{
          background-color: rgb(93, 93, 93);
      }

      .Course_text0
      {
        color: white;
        text-align: left;
        margin-top: 100px;
      }

      .Course_text
      {
          text-align: left;
          margin-top: 100px;
      }

      .Courses_item2
      {
           width: 450px;
           height: 90px;
           background-color: white;       
           border: 7px solid;
           border-style: solid;
           margin: 0px 25px;
           overflow: hidden;
           text-align: left;
           padding: 40px;
           display: flex;  
           border-radius: 30px;
           color: #F771D0 ;           ;
      }

      .Courses_item2:hover{
        background: linear-gradient(to left, #D371EA, #F771D0);
        color: white;
    }

      .Courses_item3
      {
           width: 300px;
           height: 90px;
           background-color: white;
           border: 7px solid;
           border-style: solid;
           margin: 0px 25px;
           overflow: hidden;
           text-align: left;
           padding: 40px;
           display: flex;  
           border-radius: 30px;
           color: #FEC64D;           
      }

      .Courses_item3:hover{
        background: linear-gradient(to left, #FF890E, #FEC64D);
        color: white;
    }

      .Course_text1
      {
          text-align: left;
          margin-top: 60px;
      }

      .Courses_item4
      {
           width: 350px;
           height: 90px;
           background-color: white;
           border: 7px solid;
           border-style: solid;
           margin: 0px 25px;
           overflow: hidden;
           text-align: left;
           padding: 40px;
           display: flex;  
           border-radius: 30px;
           color: #BE63DF;
      }

      .Courses_item4:hover{
        background: linear-gradient(to left, #642DFB, #BE63DF);
        color: white;
    }

      .Courses_item5
      {
           width: 800px;
           height: 90px;
           background-color: white;
           border: 7px solid;
           border-style: solid;
           margin: 0px 25px;
           overflow: hidden;
           text-align: left;
           padding: 40px;
           display: flex;  
           border-radius: 30px;
           color: #12C18A;
      }

      .Courses_item5:hover{
       
        background: linear-gradient(to left, #8EDE62, #12C18A );
        color: white;
    }

    /* why choose Us */
    .General_div
    {
        background-color: #307AD0;
    }

    .Why_Treasurehall_image_area
      {
          padding: 10px;
          display: flex;
          margin-right: 5%;
          margin-left: 5%; 
          flex-basis: 300px;
      }

      .image_and_text
      {
           width: 93%;
           height: 178px;
           background-image: url(../images/image.jpeg);
           background-size: cover;
           background-repeat: no-repeat;
           box-shadow: 0px 0px 0.999px black;
           margin: 0px 0px;
           overflow: hidden;
           padding: 40px;
           border-radius: 30px;
      }

      /* Review Styling */
    .Review_heading
    {
        text-align: center;
        background-color: #307AD0;
        color: white;
    }
    
    .head_padding
    {
        color: #307AD0;
    }

    .Reviews
    {
        padding: 15px;
        text-align: center;
        display: flex;
        margin-right: 10%;
        margin-left: 16%; 
        flex-basis: 300px;
    }

    .Review_content
    {
         width: 270px;
         height: 280px;
         background-image: url(../images/review11.jpeg);
         background-repeat: no-repeat;
         box-shadow: 0px 0px 0.999px black;
         margin: 0px 20px;
         overflow: hidden;
         display: flex;  
         border-radius: 30px;
         background-size: cover;
    }

    .Review_content1
    {
         width: 270px;
         height: 280px;
         background-image: url(../images/review22.jpeg);
         background-repeat: no-repeat;
         box-shadow: 0px 0px 0.999px black;
         margin: 0px 20px;
         overflow: hidden;
         display: flex;  
         border-radius: 30px;
         background-size: cover;
    }

    .Review_content2
    {
         width: 270px;
         height: 280px;
         background-image: url(../images/review33.jpeg);
         background-repeat: no-repeat;
         box-shadow: 0px 0px 0.999px black;
         margin: 0px 20px;
         overflow: hidden;
         display: flex;  
         border-radius: 30px;
         background-size: cover;
    }

    .h2
    {
        font-weight: 700;
    }
    /* Our Team Styling */
   .Our_team_div
   {
       background-color: black;
       color: black;
   } 


   .image_and_writeup
    {
         max-width: 1000px;
         
         background-color: whitesmoke;
         background-repeat: no-repeat;
         margin: 0px 12%;
         overflow: hidden;
         display: flex;  
         justify-content: center;  
    }

    .text 
    {
        font-size: 14px;
        margin-top: 120px;
        font-weight: 600;
        text-align: left;
    }

    .button_div
    {
        margin-top: 120px;
        margin-left: 40px;
    }

    .button
    {
        padding: 13px 43px;
        border-radius: 25px;
        color: white;
        background-color: #307AD0;
    }

    /* Footer */
    .footer1{
      
        display: flex;
        background-color: black;
        color: whitesmoke;
        position: static;
        }
   
        .footer_container
        {
           margin-left: 10%;
        }

        .p 
        {
        font-family: "Times New Roman", Times, serif;
        }
   
        .footer_column
        {
            text-align: left;
           padding: 2px;
            flex: 1;
            list-style: none;
            font-size: 14px;
            margin: 0 3px;
            position: static;
        }
       
        .footer_column p
        {
          list-style: none;
        }
   
        .footer2
        {
         text-align: center;
         background-color: rgb(239, 239, 239);
         color: black;
         padding: 20px;
        }
   
        .footer_links
        {
            font-size: 14px;
        }
   
        .fa-2x
        {
             color: white;
             margin-top: 15px;
             margin-right: 9px;
        }

        .fa-color4
        {
            color: white;
            padding: 10px;
        }

        .disapper
        {
            color: black;
        }

        .footer_address
        {
            text-align: right;
            margin-right: 17px;
        }

        .footer_address img
        {
            margin-right: 15px;
            margin-top: 10px;
        }

        /* Courses Styling */
        .course_body
        {
            background-color: white;
            width: 100%;
            height: auto;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .course_body1
        {
            background-color: white;
            width: 100%;
            height: auto;
            margin-top: 100px;
            margin-bottom: 120px;
        }

        .Items_under_all_section
        {
            display: flex;
            justify-content: center;
            flex-basis: 300px;
        }

        .Items_under_foreign_exams_section
        {
            display: flex;
            justify-content: center;
            flex-basis: 300px;
        }
    
        .course_no1
        {
             width: 240px;
             height: 195px;
             background-image: url(../images/courses/No\ 1.jpeg);
             margin: 12px 12px;
             overflow: hidden;
             padding: 30px;
             display: flex;  
             border-radius: 25px;
        }

        .Items_under_all_section h1
        {
            font-size: 500px;
        }

        .course_no2
        {
             width: 240px;
             height: 195px;
             background-image: url(../images/courses/No\ 2.jpeg);
             margin: 12px 12px;
             overflow: hidden;
             padding: 30px;
             display: flex;  
             border-radius: 25px;
        }

        .course_no3
        {
             width: 240px;
             height: 195px;
             background-image: url(../images/courses/No\ 3.jpeg);
             margin: 12px 12px;
             overflow: hidden;
             padding: 30px;
             display: flex;  
             border-radius: 25px;
        }

        .course_no4
        {
             width: 240px;
             height: 195px;
             background-image: url(../images/courses/No\ 4.jpeg);
             margin: 12px 12px;
             overflow: hidden;
             padding: 30px;
             display: flex;  
             border-radius: 25px;
        }

        .course_no5
        {
             width: 240px;
             height: 195px;
             background-image: url(../images/courses/No\ 5.jpeg);
             margin: 12px 12px;
             overflow: hidden;
             padding: 30px;
             display: flex;  
             border-radius: 25px;
        }
        
        .course_no6
        {
             width: 240px;
             height: 195px;
             background-image: url(../images/courses/No\ 6.jpeg);
             margin: 12px 12px;
             overflow: hidden;
             padding: 30px;
             display: flex;  
             border-radius: 25px;
        }

        .course_no7
        {
             width: 240px;
             height: 195px;
             background-image: url(../images/courses/No\ 7.jpeg);
             margin: 12px 12px;
             overflow: hidden;
             padding: 30px;
             display: flex;  
             border-radius: 25px;
        }

        .course_no8
        {
             width: 240px;
             height: 195px;
             background-image: url(../images/courses/No\ 8.jpeg);
             margin: 12px 12px;
             overflow: hidden;
             padding: 30px;
             display: flex;  
             border-radius: 25px;
        }

        .course_no9
        {
             width: 240px;
             height: 195px;
             background-image: url(../images/courses/No\ 9.jpeg);
             margin: 12px 12px;
             overflow: hidden;
             padding: 30px;
             display: flex;  
             border-radius: 25px;
        }

        .course_no10
        {
             width: 897px;
             height: 195px;
             background-image: url(../images/courses/No\ 10.jpeg);
             background-repeat: no-repeat;
             background-size: cover;
             margin: 12px 20px;
             overflow: hidden;
             padding: 30px;
             display: flex;  
             border-radius: 25px;
        }

        .course_no11
        {
             width: 580px;
             height: 195px;
             background-image: url(../images/courses/No\ 10.jpeg);
             background-repeat: no-repeat;
             margin: 12px 20px;
             overflow: hidden;
             padding: 30px;
             display: flex;  
             border-radius: 25px;
        }

        .Items_under_partners_section
        {
            display: flex;
            margin-top: 100px;
            margin-bottom: 120px;
            justify-content: center;
        }

        .Items_under_partners_section h1
        {
            font-size: 500px;
        }

        .Items_under_foreign_exams_section h1
        {
            font-size: 500px;
        }
        .course_no12
        {
             width: 234px;
             height: 195px;
             background-image: url(../images/courses/No\ 11.jpeg);
             background-repeat: no-repeat;
             margin: 12px 20px;
             overflow: hidden;
             padding: 30px;
             display: flex;  
             border-radius: 25px;
        }

        .course_no13
        {
             width: 234px;
             height: 195px;
             background-color: white;
             margin: 12px 20px;
             overflow: hidden;
             padding: 30px;
             display: flex;  
             border-radius: 25px;
        }

        .course_no14
        {
             width: 234px;
             height: 195px;
             background-image: url(../images/courses/No\ 14.jpeg);
             background-repeat: no-repeat;
             margin: 12px 20px;
             overflow: hidden;
             padding: 30px;
             display: flex;  
             border-radius: 25px;
        }

        .course_no15
        {
             width: 234px;
             height: 195px;
             background-image: url(../images/courses/No\ 15.jpeg);
             background-repeat: no-repeat;
             margin: 12px 20px;
             overflow: hidden;
             padding: 30px;
             display: flex;  
             border-radius: 25px;
        }

        .course_no16
        {
             width: 234px;
             height: 195px;
             background-image: url(../images/courses/No\ 11.jpeg);
             background-repeat: no-repeat;
             margin: 12px 20px;
             overflow: hidden;
             padding: 30px;
             display: flex;  
             border-radius: 25px;
        }



        .pat
        {
            background: linear-gradient(to left, #D371EA, #F771D0);
            color: white;
        }

        .it
        {
            background: linear-gradient(to left, #642DFB, #BE63DF);
            color: white;
        }

        .foreign
        {
            background: linear-gradient(to left, #8EDE62, #12C18A );
            color: white;   
        }

        .certification
        {
            background: linear-gradient(to left, #FF890E, #FEC64D);
            color: white;
        }

        /* ICAN Styling */
        .ican_slider_div
        {
            width: 100%;
            height: auto;
        }

        .ican_slider_div img
        {
            width: 100%;
        }

        .schedule_body
        {
            margin-left: 95px;
        }

        .schedule
        {
            color: #307AD0;
        }

        .topics
        {
            font-size: 21px;
        }

        .listed_items
        {
            display: flex;
        }

        .listed_items li
        {
            width: 100%;
            font-size: 14px;
        }

        .schedule_body p
        {
           color: grey;
           margin-left: 28%;
        }

        .new_student_button
        {
            padding: 14px 93px;
            border-radius: 25px;
            color: white;
            background-color: #307AD0;
            margin-left: 20px;
            margin-right: 30px;
        }

        .returning_student_button
        {
            padding: 14px 93px;
            border-radius: 25px;
            color: grey;
            background-color: white;
        }

        .schedule_container
        {
            margin-bottom: 100px;
        }

         /* ATSWA Styling */
         .atswa_slider_div
         {
             width: 100%;
             height: auto;
         }
 
         .atswa_slider_div img
         {
             width: 100%;
         }

         .schedule_body_for_ATSWA p
        {
           color: grey;
           margin-left: 47%;
        }

        .schedule_body_for_ATSWA
        {
            margin-left: 95px;
        }

        .enroll_button
        {
            padding: 16px 83px;
            border-radius: 25px;
            color: white;
            background-color: #307AD0;
        }

        /* GMAT slider */

        .gmat_slider_div
         {
             width: 100%;
             height: auto;
         }
 
         .gmat_slider_div img
         {
             width: 100%;
         }

         /* GMAT Styling */
         .gmat_body
         {
            display: flex;
            padding-top: 60px;
            padding-bottom: 60px;
         }

         .gmat_body h3
         {
            color: #307AD0;
            text-align: center;
         }

         .gmat_body small
         {
            color: grey;
         }

         .figure
         {
            color: #307AD0;
            font-size: 30px;
            font-weight: 700;
         }

         .fees_button
        {
            padding: 16px 83px;
            border-radius: 25px;
            color: white;
            background-color: #307AD0;
            margin-left: 95px;
        }

         .classes
         {
            box-shadow: 0px 0px 0.999px black;
            margin-left: 100px;
            min-height: 700px;
            min-width: 600px;
            border-radius: 28px;
         }

         .physical
         {
            margin-left: 10%;
            margin-right: 10%;
         }

         .class_schedule
         {
            border-color: #12C18A;
            border: 4px solid;
            border-style: solid;
            margin-left: 100px;
            min-height: 330px;
            width: 600px;
            border-radius: 28px;
            margin-bottom: 45px;
            text-align: center;
            color: #12C18A;
         }

         .fees_div
         {
            margin-bottom: 85px;
         }
         .fees
         {
            /* background-image: url(../images/courses/courses_breakdown/gmat2.png); */
            justify-content: center;
        
            border-radius: 28px;
            margin-left: auto;
            margin-right: auto;
            margin-left: auto;
            margin-right: auto;
            align-items: center;
            text-align: center;
         }

         .fees img
         {
            justify-content: center;
            height: 300px;
            width: 1200px;
            
         }

         .fa-4x
         {
            color: #307AD0;
            margin-top: 90px;
         }

         .fa-3x
         {
            color: white;
         }

         .total_fee
         {
            margin-top: 38px;
         }

         .total_fee h2
         {
            color: black;
         }

         .fees_button_total
         {
             padding: 16px 83px;
             border-radius: 25px;
             color: white;
             background-color: #307AD0;
             margin-left: auto;
             margin-right: auto;
         }

         /* pop up */
         .Ad_div{
            width: 70%;
            background-size: cover;
            background-color: rgb(255, 255, 255);
            padding: 20px 25px;
            display: none;
            margin-left: auto;
            margin-right: auto;
        }

        .Ad_div img
        {
           height: 80%;
           width: 100%;
        }

        .Ad_button
        {
            float: right;
            background-color: red;
        }

        .Ad_div_2{
            width: 90%;
            background-size: cover;
            background-color: rgb(255, 255, 255);
            padding: 20px 25px;
            display: none;
            margin-left: auto;
            margin-right: auto;
        }

        .Ad_div_2 img
        {
           height: 100%;
           width: 100%;
        }

        .Ad_button_2
        {
            float: left;
            background-color: #307AD0;
            border-radius: 15px;
        }

        .Ad_div_21{
            width: 90%;
            background-size: cover;
            background-color: rgb(255, 255, 255);
            padding: 20px 25px;
            display: none;
            margin-left: auto;
            margin-right: auto;
        }

        .Ad_div_21 img
        {
           height: 100%;
           width: 100%;
        }

        .Ad_button_21
        {
            float: left;
            background-color: #307AD0;
            border-radius: 15px;
        }

        .Ad_div_22{
            width: 90%;
            background-size: cover;
            background-color: rgb(255, 255, 255);
            padding: 20px 25px;
            display: none;
            margin-left: auto;
            margin-right: auto;
        }

        .Ad_div_22 img
        {
           height: 100%;
           width: 100%;
        }

        .Ad_button_22
        {
            float: left;
            background-color: #307AD0;
            border-radius: 15px;
        }

        .Ad_div_23{
            width: 90%;
            background-size: cover;
            background-color: rgb(255, 255, 255);
            padding: 20px 25px;
            display: none;
            margin-left: auto;
            margin-right: auto;
        }

        .Ad_div_23 img
        {
           height: 100%;
           width: 100%;
        }

        .Ad_button_23
        {
            float: left;
            background-color: #307AD0;
            border-radius: 15px;
        }

        /* UIUX */
        .physical_class
        {
            margin-left: 10%;
            margin-right: 10%;
            text-align: center;
         }

         .fees_button_uiux
         {
             padding: 16px 83px;
             border-radius: 25px;
             color: white;
             background-color: #307AD0;
             margin-left: auto;
             margin-right: auto;
         }

         .time_frame
         {
            font-size: 20px;
            font-weight: 700;
         }

         .classes_list
         {
            box-shadow: 0px 0px 0.999px black;
            margin-left: 100px;
            min-height: 750px;
            width: 600px;
            border-radius: 28px;
         }

         .positon
         {
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin-bottom: 50px;
         }

         /* uk_care course list */
         .uk_care_form
         {
            display: flex;
            width: 900px;
            background-color: white;
            border-radius: 26px;
            margin-left: auto;
            margin-right: auto;
            min-height: 700px;
         }

         .vl {
            border-left: 2px solid green;
            height: 670px;
            position: absolute;
            left: 50%;
            margin-left: -3px;
            margin-top: 870px;
            top: 0;
          }

          .left_hs
          {
            float: left;
            justify-content: left;
          }

          .right_hs
          {
            float: right;
            justify-content: right;
          }

          .check_box
          {
            width: 40px;
            height: 40px;
          }

          .check_box_div
          {
            margin-left: 160px;
            margin-right: 100px;
          }

          .check_box_div_2
          {
            margin-left: 140px; 
          }

          .no_flex
          {
            justify-content: center;
            flex: none;
            margin-left: 410px;
            padding: 30px 230px;
            border-radius: 30px;
            font-size: 19px;
            background-color: #307AD0;
            font-weight: 700;
            color: white;
          }

          .uk_care_block
          {
            box-shadow: 0px 0px 0.999px black;
            padding: 40px;
            margin-left: 5%;
            margin-right: 5%;
            justify-content: center;
            border-radius: 28px;
            margin-bottom: 60px;
            min-height: 700px;
            width: auto;
          }

          .h2_tag{
            margin-left: 70px;
          }

          /* Media */

          @media only screen and (max-width:740px)
{
    .header_container .menu_item
    {
        display: none;
    }    
    .header_container .hamburger
    {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 40px;
        height: 40px;
        border-radius: 3px;
        background-color: #307AD0;
        margin-left: auto;
        margin-top: 8px;
        cursor: pointer;
        overflow: hidden;
        justify-content: space-between;
        padding: 10px 5px;
    }
 
    .header_container  .line 
    {
        width: 100%;
        height: 3px;
        background-color: black;
    } 
}

@media only screen and (min-width:1177px){
    .Courses
    {
        margin-left: 0px;
        margin-right: 0%;
    }
    .Courses_info 
    {
        margin-right: auto;
          margin-left: auto; 
          justify-content: center;
    }
}

@media only screen and (max-width:1497px){
    .Archievment_info
    {
        margin-right: 8%;
          margin-left: 8%;
    }

    .image_and_writeup img
    {
       height: 200px;
    }

    .text
    {
       margin-top: 60px;
    }

    .button_div
{
   margin-top: 80px;
   margin-left: 40px;
}
}

@media only screen and (min-width:1497px){

    .image_and_writeup img
    {
       height: 200px;
    }

    .text
    {
       margin-top: 60px;
    }

    .button_div
{
   margin-top: 80px;
   margin-left: 40px;
}
}

@media only screen and (max-width:1322px){
    .Archievment_items
    {
        margin: 0px 25px;
    }
    
}

@media only screen and (max-width:1322px)
{
    .Reviews
    {
        margin-left: 0%;
        margin-right: 0%;
        justify-content: center;
    }
}
@media only screen and (max-width:1177px){
    .Archievment_items
    {
        margin: 0px 18px;
    }
    .Archievment_info
    {
        margin-right: 0%;
        margin-left: 0%;
    }
    .Courses
    {
        margin-left: 0%;
        margin-right: 0%;
    }
    .Courses_info 
    {
        margin-right: auto;
          margin-left: auto; 
          justify-content: center;
    }
}

@media only screen and (max-width:932px){
    .Archievment_info
    {
        flex-wrap: wrap;
        justify-content: center;
    }
    .Archievment_items
    {
        margin-bottom: 40px;
    }
    .Courses
    {
        margin-left: 0px;
        margin-right: 0%;
    }
    .Courses_info 
    {
        margin-right: auto;
          margin-left: auto; 
          justify-content: center;
    }
}

@media only screen and (max-width:876px){
    .Review_content
    {
        margin: 0px 10px;
    }
}

@media only screen and (max-width:874px){
    .Reviews
    {
        flex-wrap: wrap;
        justify-content: center;
    }
    .Review_content
    {
        margin: 0px 30px;
        margin-bottom: 30px;
    }
    .footer1
     {
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }
     .footer_column
     {
        font-size: 17px;
     }
}

@media only screen and (max-width:1333px){
    
     .footer_links
     {
        margin-left: 8px;
        margin-right: 16px;
     }

     .disapper
     {
        display: none;
     }

     .image_and_writeup img
     {
        height: 200px;
     }

     .text
     {
        margin-top: 70px;
     }

     .button_div
{
    margin-top: 80px;
    margin-left: 40px;
}
}
@media only screen and (max-width:949px){
.Courses_info 
{
    display: grid;
}
.Courses_item1
{
    min-width: 450px;
    margin: 0px 0px;
    margin-bottom: 20px;
    justify-content: center;
    height: 84px;
}

.Courses_item2
{
    width: 450px;
    margin: 0px 0px;
    margin-bottom: 20px;
    height: 84px;
}

.Courses_item3
{
    min-width: 450px;
    margin: 0px 0px;
    margin-bottom: 20px;
    height: 84px;
}

.Courses_item4
{
    min-width: 450px;
    margin: 0px 0px;
    margin-bottom: 20px;
    height: 84px;
}

.Courses_item5
{
    width: 450px;
    margin: 0px 0px;
    margin-bottom: 20px;
    height: 84px;
}
}

@media only screen and (max-width:584px){
    .Courses_info 
    {
        display: grid;
        justify-content: center;
    }
    .Courses_item1
    {
        min-width: 360px;
        margin: 0px 0px;
        margin-bottom: 20px;
        height: 84px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .Courses_item2
    {
        width: 360px;
        margin: 0px 0px;
        margin-bottom: 20px;
        height: 84px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .Courses_item3
    {
        min-width: 360px;
        margin: 0px 0px;
        margin-bottom: 20px;
        height: 84px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .Courses_item4
    {
        min-width: 360px;
        margin: 0px 0px;
        margin-bottom: 20px;
        
        height: 84px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .Courses_item5
    {
        width: 360px;
        margin: 0px 0px;
        margin-bottom: 20px;
        height: 84px;
        margin-left: auto;
        margin-right: auto;
    }
    }

    @media only screen and (max-width:484px){
        .Courses_info 
        {
            display: grid;
            justify-content: center;
        }
        .Courses_item1
        {
            min-width: 250px;
            margin: 0px 0px;
            margin-bottom: 20px;
            height: 84px;
            margin-left: auto;
            margin-right: auto;
        }
        
        .Courses_item2
        {
            width: 250px;
            margin: 0px 0px;
            margin-bottom: 20px;
            height: 84px;
            margin-left: auto;
            margin-right: auto;
        }
        
        .Courses_item3
        {
            min-width: 250px;
            max-width: 249px;
            margin: 0px 0px;
            margin-bottom: 25px;
            height: 84px;
            margin-left: auto;
            margin-right: auto;
        }
        
        .Courses_item4
        {
            min-width: 250px;
            max-width: 249px;
            margin: 0px 0px;
            margin-bottom: 20px;
            
            height: 84px;
            margin-left: auto;
            margin-right: auto;
        }
        
        .Courses_item5
        {
            width: 250px;
            margin: 0px 0px;
            margin-bottom: 20px;
            height: 84px;
            margin-left: auto;
            margin-right: auto;
        }
        }

        @media only screen and (max-width:973px)
        {
            .Items_under_all_section
            {
                flex-wrap: wrap;
            }
            .course_no1
            {
                flex-wrap: wrap;
            }
        }

        @media only screen and (max-width:973px)
        {
           .button_container
           {
               flex-wrap: wrap;
           }

           .Courses_buttons
           {
            margin-bottom: 20px;
           }

           .Items_under_foreign_exams_section
           {
              flex-wrap: wrap;
           }
           .course_no7
           {
            flex-wrap: wrap;
           }
           .course_no13
           {
            display: none;
           }
        }

        @media only screen and (max-width:841px){
            .schedule_body p
            {
                margin-left: 0%;
            }

            .listed_items
            {
                flex-wrap: wrap;
            }

            .new_student_button
            {
                padding: 14px 33px;
            }
            .returning_student_button
            {
                padding: 14px 33px;
            }
            .gmat_body
            {
                flex-wrap: wrap;
                justify-content: center;
            }
            .classes
            {
                min-width: 380px;
                margin-bottom: 30px;
                margin-left: 20px;
            }

            .class_schedule
            {
                min-height: 330px;
            width: 380px;
            margin-left: 20px;
            }

            .image_and_writeup img
         {
            height: 200px;
         }

         .text
         {
            margin-top: 50px;
         }

         .button_div
    {
        margin-top: 80px;
        margin-left: 40px;
    }

        }

        @media only screen and (max-width:1321px){
            .new_student_button
            {
                padding: 14px 33px;
            }
            .returning_student_button
            {
                padding: 14px 33px;
            }

            .vl
            {
                display: none;
            }
            
        }

        @media only screen and (max-width:995px){
            .new_student_button
            {
                padding: 14px 33px;
                margin-left: 8px;
                margin-right: 8px;
            }
            .returning_student_button
            {
                padding: 14px 33px;
            }

            .schedule_body p
            {
                margin-left: 0%;
            }

            .schedule_body_for_ATSWA p
            {
                margin-left: 0%;
            }

            .schedule_body
            {
            margin-left: 0px;
            }

            .enroll_button
            {
                margin-left: 50px;
            }

            .schedule_body
        {
            margin-left: 0px;
        }

        .image_and_writeup img
        {
           height: 180px;
        }

        .text
        {
           margin-top: 50px;
        }

        .button_div
   {
       margin-top: 80px;
       margin-left: 40px;
   }
        }

        @media only screen and (max-width:1492px){
            .gmat_body
            {
                flex-wrap: wrap;
                justify-content: center;
            }
            .fees_button
        {
            padding: 16px 30px;
            border-radius: 25px;
        }

        .classes_list
        {
            margin-left: 50px;
            min-height: 750px;
            width: 500px;
        }

        .no_flex
        {
            margin-left: 0%;
            margin-right: 0%;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        }

        @media only screen and (max-width:1212px){
            .fees img
         {
            height: 300px;
            width: 1100px;
         }

         .image_and_writeup img
         {
            height: 180px;
         }

         .text
         {
            margin-top: 80px;
         }

         .button_div
    {
        margin-top: 80px;
        margin-left: 40px;
    }
        }

        @media only screen and (max-width:1114px){
            .fees img
         {
            height: 300px;
            width: 950px;
         }

         .uk_care_form
         {
            flex-wrap: wrap;
         }

         .check_box_div_2
          {
            margin-left: 160px; 
          }
        }

        @media only screen and (max-width:959px){
            .fees img
         {
            height: 280px;
            width: 700px;
         }
        }

        @media only screen and (max-width:719px){
            .fees img
         {
            height: 250px;
            width: 600px;
         }

         .check_box_div
          {
            margin-left: 160px; 
          }

         .check_box_div_2
          {
            margin-left: 100px; 
          }
        }

        @media only screen and (max-width:613px){
            .fees img
         {
            height: 220px;
            width: 450px;
        }

        .fees 
        {
            margin-left: auto;
            margin-right: auto;
           justify-content: center;
       }

       .classes_list
        {
            margin-left: 30px;
            min-height: 750px;
            width: 300px;
            margin-bottom: 20px;
        }
        }

        @media only screen and (max-width:488px){
            .fees img
         {
            height: 200px;
            width: 410px;
         }

         .classes
         {
             min-width: 330px;
             margin-bottom: 30px;
             margin-left: 1px;
         }

         .class_schedule
         {
             min-height: 330px;
         width: 380px;
         margin-left: 1px;
         }

         
        }

        @media only screen and (max-width:840px){

            .image_and_writeup img
            {
               height: 150px;
               width: 250px;
            }
        
            .text
            {
               margin-top: 10px;
            }
        
            .button_div
            {
            margin-top: 30px;
            margin-left: 20px;
            }
        }

        @media only screen and (max-width:652px){

            .image_and_writeup
            {
                flex-wrap: wrap;
            }

            .image_and_writeup img
            {
               height: 140px;
               width: 200px;
            }
        
            .text
            {
               margin-top: 10px;
            }
        
            .button_div
            {
            margin-top: 30px;
            margin-left: 20px;
            }
        }
